<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration实例来构建sqlsessionfactory-->
<!--里面的配置有顺序-->
<configuration>
    <!-- 数据库配置文件 -->
    <properties resource="jdbc.properties"/>
    <!-- 实体类的别名 -->
    <!--<typeAliases>
        <package name="com.ss.entities"/>
    </typeAliases>-->

    <!-- 配置mybatis运行环境,environments内包含了事务管理和连接池配置 -->
    <environments default="development">
        <environment id="development">
            <!-- type="JDBC" 代表使用JDBC的提交和回滚来管理事务 -->
            <transactionManager type="JDBC"/>

            <!-- mybatis提供了3种数据源类型，分别是：POOLED,UNPOOLED,JNDI -->
            <!-- POOLED 表示支持JDBC数据源连接池 -->
            <!-- UNPOOLED 表示不支持数据源连接池 -->
            <!-- JNDI 表示支持外部数据源连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 先注释掉后面用到再加进来
     <mappers>
       <mapper resource="com/ss/mappers/GoodsMapper.xml"/>
     </mappers>
     另一种指定包
     <package name="com/ss/mappers">
    -->
    <!-- 配置映射文件，包含了一组mapper映射器 -->
    <mappers>
        <!-- 告知映射文件方式1，一个一个的配置
        <mapper resource="com/cy/mybatis/mapper/UserMapper.xml"/>-->
        <!-- 告知映射文件方式2，自动扫描包内的Mapper接口与配置文件 -->
        <!--这些mapper的xml包含了sql代码和映射定义信息-->
        <package name="cn.lxj.mybatis.mapper.UserMapper"/>
    </mappers>
</configuration>